---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Roze"
  description="Hi I'm Roze. An engineer and writer"
>
  <h1 class="text-3xl font-bold pb-10">Hello</h1>
  <article class="text-xl space-y-4 leading-relaxed">
  <p>
    My work sits at the intersection of technology, art, and public life. I’ve created
    data visualizations exhibited in art spaces, built tools cited in human rights
    reports, held fellowships in playwriting, and built independent software projects and startups.
  </p>
  <p>
    I studied computer science at the University of Virginia, where my machine learning research
    was awarded High Distinctions. I later worked on healthcare interoperability at Epic before
    becoming an independent engineer and researcher. Now I'm an engineer at First Round Capital
    building tools to help find new startups.
  </p>
  <p>
    If you’d like to work together, you can reach me at
    <span class="whitespace-nowrap">roze@codestache dot com</span>.
  </p>
  <div class="flex font-light gap-2">
    <code class="mr-2">&#8212;</code>
    <p>Roze</p>
    <p class="font-urdu-nastaliq -mt-1 text-gray-600">روز</p>
  </div>
</article>
</Layout>
