---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import projects from "@data/projects.json";
---

<Layout title="Roze | Projects" description="Coding projects">
  <h1 class="text-3xl font-bold pb-10">Projects</h1>
  <ul class="space-y-6">
    {
    projects.map(({ title, url, github, description }) => (
        <li>
      <ProjectCard url={url} github={github} title={title} description={description} />
        </li>
      ))
    }
  </ul>
</Layout>
