---
interface Props {
  url?: string;
  github?: string;
  title: string;
  description: string;
}

const { url, github, title, description } = Astro.props;
---

<div class="space-y-2">
  <div>
    <h4  class="text-xl">{title}</h4>
    <div class="flex items-center space-x-4">
      {url && <a href={url} target="_blank" class="text-sm text-gray-700 hover:underline">Website</a>}
      {github && <a href={github} target="_blank" class="text-sm text-gray-700 hover:underline">Github</a>}
    </div>
  </div>
  <p>{description}</p>
</div>
